.geostudy-map-back {
  background: #36393f;
  padding: 15px;
}

.spots-text {
  color: white;
}

.spots-subtext {
  color: #B9BBBE;
}

.landing-background {
  background: #36393f !important;
}

.landing-text {
  color: #fff !important;
}

.landing-header {
  color: #fff;
}