.geostudy-map-back {
  background: #36393f;
  padding: 15px;
}

.spots-text {
  color: white;
}

.spots-subtext {
  color: #B9BBBE;
}

.ui.checkbox label {
  color: white !important;
}

.ui.toggle.checkbox input:checked ~ label {
  color: white !important;
}

.landing-background {
  background: #36393f !important;
}

.landing-text {
  color: #fff !important;
}

.landing-header {
  color: #fff;
}

.spotBordersTop {
  align: center;
  width: auto;
}
.spotBordersBottom {
  align: center;
  width: auto;
}